# ROS/ROS2 构建和开发目录
# 忽略所有工作空间中的 build 目录
**/build/
aubo_ros2_ws/build/
aubo_ws/build/
ros2_ws/build/

# 忽略所有工作空间中的 install 目录
**/install/
aubo_ros2_ws/install/

# 忽略所有工作空间中的 log 目录
**/log/
aubo_ros2_ws/log/

# 忽略所有工作空间中的 devel 目录
**/devel/
aubo_ws/devel/

