<?xml version="1.0"?>
<launch>
  <!-- 机器人控制节点 -->
  <node pkg="aubo_controller" type="aubo_robot_simulator" name="aubo_robot_simulator"/>
  <node pkg="aubo_controller" type="aubo_joint_trajectory_action" name="aubo_joint_trajectory_action"/>
  <node name="aubo_driver" pkg="aubo_driver" type="aubo_driver" >
    <param name="/server_host" type="str" value="10.8.144.98"/>
  </node>
  
  <!-- 机器人反馈节点 -->
  <node name="robot_status_publisher_node" 
        pkg="demo_driver" 
        type="robot_status_publisher_node" 
        output="screen">
  </node>
  <node name="robot_io_status_publisher_node" 
        pkg="demo_driver" 
        type="robot_io_status_publisher_node" 
        output="screen">
  </node>
</launch>