<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="aubo_e5_camera" params="parent:=wrist3_Link">
    <!-- Physical collision/visual body. camera_link is reserved for calibrated TF. -->
    <link name="camera_body_link">
      <inertial>
        <origin xyz="-0.0005963 0.085972 -0.026401" rpy="0 0 0"/>
        <mass value="0.72743"/>
        <inertia ixx="0.00064649" ixy="2.7688e-06" ixz="-2.0272e-05"
                 iyy="0.0013072" iyz="8.2399e-05" izz="0.0014971"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://aubo_description/meshes/visual/sensors/camera.stl"/>
        </geometry>
        <material name="camera_gray">
          <color rgba="0.82 0.82 0.82 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://aubo_description/meshes/collision/sensors/camera.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="camera_mount_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="camera_body_link"/>
      <origin xyz="0 0 0.020" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
