<?xml version="1.0"?>
<launch>
  <!-- Read Robot IO Service Server Node -->
  <node name="read_robot_io_server_node" 
        pkg="demo_driver" 
        type="read_robot_io_server_node" 
        output="screen">
    
    <!-- Parameters -->
    <param name="io_states_topic" value="/aubo_driver/io_states" />
  </node>
</launch>

