<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="咖啡机总装模型urdf4.2812">
  <link
    name="pedestal_Link">
    <inertial>
      <origin
        xyz="0.0024005 -0.14873 -0.0020194"
        rpy="0 0 0" />
      <mass
        value="180.93" />
      <inertia
        ixx="10.702"
        ixy="6.7618E-17"
        ixz="3.0187E-14"
        iyy="41.01"
        iyz="1.466E-07"
        izz="32.457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/pedestal_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/pedestal_Link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_Link">
    <inertial>
      <origin
        xyz="3.4413E-09 -0.0027307 0.0029024"
        rpy="0 0 0" />
      <mass
        value="5.9908" />
      <inertia
        ixx="0.0109"
        ixy="-1.9752E-08"
        ixz="3.3745E-10"
        iyy="0.0095852"
        iyz="-0.00015865"
        izz="0.018662" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/base_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.61569 0.64314 0.67451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/base_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="fixed">
    <origin
      xyz="0.10483 0.10483 0.028"
      rpy="3.1416 0 0" />
    <parent
      link="pedestal_Link" />
    <child
      link="base_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="cup0_Link">
    <inertial>
      <origin
        xyz="0.0459046653140415 0.0335578409178754 0.00298286778797363"
        rpy="0 0 0" />
      <mass
        value="1.42763211505643" />
      <inertia
        ixx="0.00133864759857838"
        ixy="-0.000153798571779387"
        ixz="-3.31742934007893E-05"
        iyy="0.00208448111254178"
        iyz="-3.67284842420613E-05"
        izz="0.0011896985575748" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/cup0_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/cup0_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cup0_joint"
    type="fixed">
    <origin
      xyz="-0.4225 -0.0925 -0.012"
      rpy="1.5708 0 1.5708" />
    <parent
      link="pedestal_Link" />
    <child
      link="cup0_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lizhu_Link">
    <inertial>
      <origin
        xyz="0.012277 0.082104 1.7053E-05"
        rpy="0 0 0" />
      <mass
        value="0.86598" />
      <inertia
        ixx="0.0014347"
        ixy="1.5778E-05"
        ixz="1.1895E-08"
        iyy="0.00066764"
        iyz="3.1238E-05"
        izz="0.0012088" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/lizhu_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/lizhu_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lizhu_joint"
    type="fixed">
    <origin
      xyz="-0.525 -0.2625 0.006"
      rpy="1.5708 0 1.5708" />
    <parent
      link="pedestal_Link" />
    <child
      link="lizhu_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="coffee_Link">
    <inertial>
      <origin
        xyz="0.016170409423681 0.205992691527985 0.00200399944128038"
        rpy="0 0 0" />
      <mass
        value="91.2843777246585" />
      <inertia
        ixx="0.898681796834742"
        ixy="0.00207481321022697"
        ixz="-0.107493401509849"
        iyy="1.0150394361257"
        iyz="0.0238026152276541"
        izz="0.440905147303518" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/coffee_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.427450980392157 0.247058823529412 0.356862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/coffee_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="coffee_joint"
    type="fixed">
    <origin
      xyz="-0.53995 0.20318 0.016"
      rpy="1.5708 0 1.5708" />
    <parent
      link="pedestal_Link" />
    <child
      link="coffee_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gripper0_Link">
    <inertial>
      <origin
        xyz="-5.4826737503344E-06 -2.17950690200031E-05 0.06071070700369"
        rpy="0 0 0" />
      <mass
        value="0.311641109890042" />
      <inertia
        ixx="0.000111775131204717"
        ixy="-3.28432358739794E-06"
        ixz="1.76938667137765E-07"
        iyy="0.000133675743853643"
        iyz="1.68369841733159E-07"
        izz="8.89425577652181E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper0_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper0_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper0_joint"
    type="fixed">
    <origin
      xyz="-1.4372 -0.79997 0.14925"
      rpy="-0.68075 0.1968 -0.15706" />
    <parent
      link="pedestal_Link" />
    <child
      link="gripper0_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gripper1_Link">
    <inertial>
      <origin
        xyz="-6.9316E-06 -1.6295E-05 0.079175"
        rpy="0 0 0" />
      <mass
        value="0.39795" />
      <inertia
        ixx="0.00017517"
        ixy="2.7641E-07"
        ixz="2.0128E-07"
        iyy="0.00020336"
        iyz="1.3849E-07"
        izz="9.4703E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper1_joint"
    type="fixed">
    <origin
      xyz="-1.4451 -0.027929 0.063892"
      rpy="0 0 0" />
    <parent
      link="pedestal_Link" />
    <child
      link="gripper1_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gripper2_Link">
    <inertial>
      <origin
        xyz="-2.78949239196358E-05 4.70732295335119E-06 0.0644501908903875"
        rpy="0 0 0" />
      <mass
        value="0.222997856517824" />
      <inertia
        ixx="0.000105819074488664"
        ixy="6.55959168284158E-08"
        ixz="1.69446753814684E-07"
        iyy="8.40960773268829E-05"
        iyz="-6.51867477483335E-09"
        izz="9.54085169712E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper2_joint"
    type="fixed">
    <origin
      xyz="-1.169 0.16512 0.58407"
      rpy="3.1416 0 0" />
    <parent
      link="pedestal_Link" />
    <child
      link="gripper2_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gripper1coffeecup_Link">
    <inertial>
      <origin
        xyz="1.3695E-05 -0.00044996 0.080133"
        rpy="0 0 0" />
      <mass
        value="0.40294" />
      <inertia
        ixx="0.00018148"
        ixy="2.7641E-07"
        ixz="2.0128E-07"
        iyy="0.00020779"
        iyz="1.385E-07"
        izz="0.00010102" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper1coffeecup_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper1coffeecup_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper1coffeecup_joint"
    type="fixed">
    <origin
      xyz="-1.264 -0.0023679 0.17654"
      rpy="1.5708 0 1.5708" />
    <parent
      link="pedestal_Link" />
    <child
      link="gripper1coffeecup_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gripper1milkcup_Link">
    <inertial>
      <origin
        xyz="0.0095079 -0.0029306 0.13135"
        rpy="0 0 0" />
      <mass
        value="1.0973" />
      <inertia
        ixx="0.00066573"
        ixy="-3.8908E-06"
        ixz="-1.5041E-07"
        iyy="0.0004547"
        iyz="1.7199E-07"
        izz="0.00058922" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper1milkcup_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://咖啡机总装模型urdf4.2812/meshes/gripper1milkcup_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper1milkcup_joint"
    type="fixed">
    <origin
      xyz="-1.0253 -0.18528 0.0061549"
      rpy="2.2689 0 3.1416" />
    <parent
      link="pedestal_Link" />
    <child
      link="gripper1milkcup_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>