<?xml version="1.0"?>
<launch>
  <!-- Set Robot Enable Service Server Node -->
  <node name="set_robot_enable_server_node" 
        pkg="demo_driver" 
        type="set_robot_enable_server_node" 
        output="screen">
    
    <!-- Parameters -->
    <param name="robot_control_topic" value="robot_control" />
  </node>
</launch>

