<?xml version="1.0"?>
<launch>
  <!-- Get Current State Service Server Node -->
  <node name="get_current_state_server_node" 
        pkg="demo_driver" 
        type="get_current_state_server_node" 
        output="screen">
    
    <!-- Parameters -->
    <param name="planning_group_name" value="manipulator_e5" />
    <param name="base_frame" value="base_link" />
  </node>
</launch>

