<?xml version="1.0"?>
<launch>
  <!-- Movel (Cartesian straight-line) Service Server Node -->
  <node name="movel_server_node"
        pkg="demo_driver"
        type="movel_server_node"
        output="screen">

    <!-- Parameters -->
    <param name="planning_group_name" value="manipulator" />
    <param name="base_frame" value="base_link" />
    <param name="compute_cartesian_path_service" value="/move_group/compute_cartesian_path" />
    <param name="cartesian_max_step" value="0.01" />
  </node>
</launch>
